*.iml
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
.cxx/
.externalNativeBuild/
.gradle/
.idea/
.kotlin/
build/
!src/**/build/
captures/
local.properties
node_modules/
xcshareddata/WorkspaceSettings.xcsettings
xcuserdata/
